[2016-08-19 18:56] bhillmann opened #1 "Change absolute paths to os.path.join"
In the code there are a lot of '/temp' if we want to be system agnostic should be using os.path.joins.

[2016-08-19 18:57] bhillmann opened #2 "Change the temp folder to be written to the output dir"
The temp folder should be written to the output dir so that we can guarantee the user has write permission to the directory.

[2016-08-19 18:57] bhillmann opened #3 "Change explicit file opens to with open."
With open is the pythonic way rather than explicitly opening and closing files.

[2016-09-16 15:11] bhillmann commented on #3
Currently everything is with open now.

[2016-09-16 15:11] #3 closed

[2016-09-16 15:15] bhillmann commented on #2
Output is now written to the temp folder.

[2016-09-16 15:15] #2 closed

[2016-09-16 15:15] bhillmann commented on #1
All of the absolute paths are now changed!

[2016-09-16 15:15] #1 closed

[2016-10-28 15:08] bhillmann opened #4 "Rename all 'ninja_shi7' to 'shi7en'"
We are removing the 'ninja' prefix from this project.

[2016-10-28 15:15] bhillmann opened #5 "Redo installation link"

[2016-10-28 15:42] bhillmann opened #6 "Switch the adaptors to be included with the repository."
This is how to include data files in setuptools.
http://setuptools.readthedocs.io/en/latest/setuptools.html#including-data-files

This is how to access those included data files from Python at run time.
http://peak.telecommunity.com/DevCenter/PythonEggs#accessing-package-resources

The argument from the user will be a string like 'NextEra' or 'TruSeq'. Need to convert that string argument to a pat

[2016-10-31 22:25] tonyaward4 opened #7 "output dir needs to be created prior to writing log file"

[2016-11-16 18:12] bhillmann opened #8 "'shi7en_trimmer' is silently failing."
Output to the log file is not being properly recorded for the shi7en_trimmer causing a silent failure.  This causes the pipeline to write blank output files.

[2016-11-16 18:44] cmstaley commented on #8
After following the directions to get shi7en set up, I tried to run using the following commands:
1) $  shi7en -i /panfs/roc/data_release/0/umgc/sadowsky/miseq/161028_M00262_0137_000000000-APB42_Analysis/ -o /panfs/roc/scratch/staleyc/byron/ssg/ --no_combine_fasta
2) $ shi7en -i /panfs/roc/data_release/0/umgc/sadowsky/miseq/161028_M00262_0137_000000000-APB42_Analysis/ -o /panfs/roc/scratch/staleyc

[2016-11-17 17:21] bhillmann commented on #8
There should be a temp folder in the output directory that you specified.

[code]

Can you look in the folder.

[code]

And verify that the FASTQs still have data?

[code]

[2016-11-17 17:24] cmstaley commented on #8
The fastq files in /flash/ still have data, but the ones in /trimmer/ do not.

You should have permission to look at all the files in the scratch directory.

[2016-11-17 17:26] bhillmann commented on #8
Thank you Chris, can you wait until tomorrow?

@GabeAl @kaiweiang Tomorrow morning at the shi7en meeting we should be able to debug this with the exact in and out files. Looks like it is related to the piping of files from flash to shi7en.

[2016-11-17 17:27] cmstaley commented on #8
No problem. Thanks for the help.

[2016-11-17 17:33] bhillmann commented on #6
@kaiweiang Closed this with e58e735d8ed27773bafccab0e26b73211b7ba4ab

[2016-11-17 17:33] #6 closed

[2016-11-17 17:33] bhillmann commented on #4
@kaiweiang Is this complete?

[2016-11-17 17:34] #5 closed

[2016-11-17 17:34] #7 closed

[2016-11-17 18:24] kaiweiang commented on #4
@bhillmann I think so iirc, but I'll check again in the evening.

[2016-11-17 18:26] kaiweiang commented on #4
@bhillmann I think so iirc, but I'll check again in the evening. I'll close this once I confirm.

[2016-11-18 08:28] #4 closed

[2016-11-18 16:23] bhillmann opened #9 "Switch the 'no' flags to boolean flags"
The flags
[code]

Should be set to be:

[code]

To  avoid confusion.

Also the user should not be able to make a 'combined FASTQ'. Explicitly fail at arg checking if this is the case and tell the user to change their arguments.

[2016-11-18 16:24] bhillmann opened #10 "Add shi7en src. Include shi7en binaries in release."
This is the file that should go in the 'src' folder of the root of the project. https://github.com/GabeAl/NINJA-SHI7/blob/master/ninja_shi7.c

Should be renamed to 'shi7en_trimmer'.

[2016-11-18 16:26] bhillmann opened #11 "Add 'split_libraries' to the pipeline"
This is similar to the QIIME [split_libraries_fastq.py](http://qiime.org/scripts/split_libraries_fastq.html)

This source is included [here](https://github.com/knights-lab/shi7en/blob/master/src/gotta_split_swapped.c).

This should be the first step in the pipeline. It should default to False. User must provide TXT file of oligos. Should be a command line argument. Will split combined FASTQ file i

[2016-11-18 16:40] bhillmann opened #12 "Add tutorial for adding binary to path"
Add this to the README.md

[code]

Also, rename binaries so that they are in sync with the shizen call in the python wrapper. Python expects them to all be called 'shi7en_trimmer'.

[2016-11-18 16:53] bhillmann opened #13 "Work towards conda-forge release"
[Which command in python](http://stackoverflow.com/questions/377017/test-if-executable-exists-in-python)

[2016-11-18 16:58] bhillmann commented on #11
There is a wiki link for describing how the oligos.txt file should look.

What if I have one giant fastq (well, one pair -- an R1 and R2) I want to split into samples?` Excellent you should ask. Use [G0774_5PL17](https://github.com/GabeAl/NINJA-SHI7/blob/master/others/gotta_split.c) ("gotta_split") with an oligos.txt file to create multiple fastq's, one for each sample name (see: http://www.mothur

[2016-11-18 16:59] bhillmann opened #14 "Add testing files for the pipeline"
Currently, we have no defined way to test the software. This is bad practice.

[2016-11-18 17:03] bhillmann opened #15 "Update the gotta_split src to newest version"

[2016-11-18 18:13] GabeAl commented on #15
ok

[2016-11-18 18:13] #15 closed

[2016-11-18 18:18] GabeAl commented on #10
I put in the source -- binaries should also be in the release (but check the names!)

[2016-11-18 18:20] GabeAl commented on #8
It turns out (we think) your shizen trimmer wasn't added to your PATH environmental variable. Even if it's directly in your script folder and you call it, UNIX (Linux and Mac) can't run the program without the "./" in front of the name unless it's in your PATH.

We're adding instructions to the readme to let folks know how to actually accomplish this (basically you add a line to your .bashrc point

[2016-11-21 16:32] cmstaley commented on #8
I downloaded the updated trimmer and set the path in the bashrc file and I now have fasta files that have data.  Thanks!

[2016-11-21 18:48] bhillmann commented on #8
Great, I'm glad that it worked.

Do you know what the average insert size between paired end reads where? Stitching can be tough for shotgun reads.

[2016-11-21 18:50] bhillmann opened #16 "Verifying the stitching with shotgun reads"
We need to verify the output of FLASH when running shotgun reads. Methods for this are in the works.

[2016-11-21 18:50] bhillmann opened #17 "Include DUST"
HMP protocol was to 'dust' reads. We should include this feature.

[2016-11-22 16:44] #8 closed

[2016-11-29 03:04] kaiweiang commented on #9
If we want the format `--<more> {True/False}` , that means user will be passing True/False in string and the program will run into a similar problem with [this](http://stackoverflow.com/questions/15008758/parsing-boolean-values-with-argparse), since `action=store_true/false` is not applicable here (I think). So, do we need to convert the string to boolean variable manually as the post suggested? O

[2016-11-29 03:42] kaiweiang commented on #11
What's the `gotta_split` command like? Is it just like `gotta_split_linux -i oligos.txt`?

[2016-11-30 17:05] bhillmann commented on #11
That is correct. It is the command with the binaries linked. Ask @GabeAl for the most up to date source and how to create a Makefile/compile the code.

[2016-11-30 17:06] bhillmann commented on #9
We need to explicitly pass True or False with the flags. This will forego the ```action=store_true/false``` command unfortunately. This is backtracking for usability, rather than code efficiency.

[2016-11-30 18:49] kaiweiang commented on #11
@GabeAl

[2016-12-01 16:53] kaiweiang commented on #11
Need to update readme to tell the users how to use the split option.

[2016-12-02 16:14] bhillmann commented on #11
@GabeAl

Can you verify that we can specify an output folder with the:

[code]

[2016-12-02 16:17] #9 closed

[2016-12-02 16:36] bhillmann commented on #10
@GabeAl Can we get the commands you ran to compile the static binaries so that we can build a Makefile? The Python source code needs to be in sync with what we call the binaries.

[2016-12-02 23:14] RRShieldsCutler opened #18 "SE mode with Nextera calls Nextera PE adaptors"
Appears to be fine with other adaptors, but when using "-SE --adaptor Nextera" it calls:
shi7en/adapters/NexteraPE-PE.fa:2:30:10:2:true

whereas for TruSeq3, it calls:
/shi7en/adapters/TruSeq3-SE.fa:2:30:10:2:true

[2016-12-04 20:35] bhillmann commented on #18
There is no such thing as Nextera single end adapters. The paired end adapters file in theory should work just fine, since they include both forward and reverse adapters.

Check them out [here](https://github.com/knights-lab/shi7en/tree/master/shi7en/adapters).

[2016-12-04 20:35] #18 closed

[2016-12-08 17:33] danknights opened #19 "Fix install instructions"
-rename shi7 trimmer binary (so that user doesn't have to)
-Include hyperlink to correct binary download on installation page
-show all steps involved (putting it in a bin folder, adding that to path)

[2016-12-08 17:34] danknights commented on #19
Also tell user to run "source" on bashrc after adding to path.

[2016-12-08 17:35] danknights opened #20 "Add simple usage instructions (with examples) to main Readme file"

[2016-12-08 17:36] danknights commented on #20
Including usage cases for WGS, amplicon, stitching/not

[2016-12-08 17:45] danknights opened #21 "rename "trim" to "filter""
"trim" usually means cut sequence length.

[2016-12-09 16:09] GabeAl commented on #21
Where?

 parser.add_argument('--trim', help='Enable (True) or Disable (False) the TRIMMER (default: True)', choices=[True,False], default='True', type...)

This guy calls the binary shi7 c trimmer (which also happens to act as a filter). There is also an adapter trimming via trimmomatic. Which instance of "trim" do you mean?

Thanks!

[2016-12-09 16:14] GabeAl commented on #19
Added this to instructions:
. ~/.bashrc

(source is an old alias)

[2016-12-09 16:15] GabeAl commented on #12
Also did the dot thing to reload the terminal with it

[2016-12-09 16:15] #12 closed

[2016-12-09 16:43] GabeAl commented on #11
Usage: gotta_split r1.fq r2.fq oligos.txt [PREFIX] [--deep] [--errors N]

[2016-12-09 16:45] GabeAl commented on #10
Sure, we can get one for us to test. I'll add it.

Quick note just in case: we can't really depend on anyone besides us using it -- it will not be the same for clang or windows, or some versions of gcc on Linux, so it's practically useless for anyone but us 👍

[2016-12-09 16:48] kaiweiang commented on #19
I will make an install script.

[2016-12-09 16:55] kaiweiang commented on #11
[PREFIX] is the output folder. E.g. [folder_name/]

[2016-12-09 18:24] bhillmann commented on #10
We can specify what version of clang/gcc they need.

[2016-12-09 18:25] bhillmann commented on #21
-l_trim is the flag we were working with.

[2016-12-10 23:58] GabeAl commented on #21
Oh, this one then:

parser.add_argument('-trim_l', '--trim_length', help='Set the trim length (default: %(default)s)', default=150, type=int)

Yeah makes sense! It's supposed to filter out reads below this length, not trim longer ones to 150 bases.

[2016-12-14 19:52] Bryan-S-Featherstone opened #22 "Not correctly pairing reverse and forward reads"
12/14/2016 01:50:38 PM flash Bioko_Table/temp/axe/ML04.S305.R1.fastq Bioko_Table/temp/axe/MLK01.S299.R2.fastq -o ML04.S305 -d Bioko_Table/temp/flash -M 700 -m 20 -t 48 -O
12/14/2016 01:50:39 PM [FLASH] Starting FLASH v1.2.11
[FLASH] Fast Length Adjustment of SHort reads
[FLASH]
[FLASH] Input files:
[FLASH]     Bioko_Table/temp/axe/ML04.S305.R1.fastq
[FLASH]     Bioko_Table/temp/axe/MLK01.S299.R2.f

[2016-12-14 19:55] bhillmann commented on #22
@kaiweiang  This has to do with the split forward and reverse function. I'm not entirely sure why sorting them doesn't cause them to pair. Can you take a look at this?

[2016-12-14 20:03] bhillmann commented on #22
It looks like sorting does work.

[2016-12-14 20:03] #22 closed

[2016-12-15 19:56] kaiweiang commented on #11
@GabeAl I don't have any testing files for gotta_split. Can you provide some?

[2016-12-15 20:42] GabeAl opened #23 "Limit default threads to 16"
On most machines with hard drives, I/O starts to become the bottleneck and the software actually slows down with more threads. The user can still set whatever they like, but adding something like:

defaults = max(mp.getNumThreads(),16) for the default would be helpful :)

[2016-12-15 21:19] GabeAl opened #24 "Threads are not respected -- wrong number of threads used"
Hi,

Bryan tried running it specifying -t 46 but trimmomatic is using 256 threads.

Possibilities:
- passing it as a string instead of an integer?
- formatting problems
- trimmomatic is buggy

[2016-12-15 21:20] GabeAl opened #25 "Log reports DEBUG mode enabled when it isn't"
The log reports debug mode is enabled when it isn't actually on. No intermediate files are retained (the proper behavior) but the notification is misleading.

Reported by Bryan

[2016-12-16 02:42] kaiweiang commented on #23
Ya, I just tried it on my local Mac machine. It turned out the fewer the number of threads, the faster it ran. 4 threads ran faster than 16 threads though. @GabeAl

[2016-12-16 02:46] kaiweiang commented on #24
I tried it on my mac with -t 46 and it worked. Can we see his shi7en.log?

[2016-12-16 02:56] kaiweiang commented on #25
The debug mode worked just fine to me.

[2016-12-16 03:00] kaiweiang commented on #21
@GabeAl so should we change trim_length to filter?

[2016-12-16 17:17] GabeAl commented on #11
[gotta_test.zip](https://github.com/knights-lab/shi7en/files/657804/gotta_test.zip)

[2016-12-16 17:18] GabeAl commented on #24
http://www.usadellab.org/cms/uploads/supplementary/Trimmomatic/TrimmomaticManual_V0.32.pdf

[2016-12-16 17:26] GabeAl opened #26 "test whether this works with spaces in the directory names"
(Ensure there are quotes around every directory/file location passed to the programs)

[2016-12-16 18:56] #23 closed

[2016-12-16 18:56] kaiweiang commented on #24
@GabeAl Can you test it again?

[2016-12-16 19:09] #21 closed

[2016-12-16 20:18] GabeAl opened #27 "CRITICAL: Paired ends are NOT correctly paired"
Seeing the files not paired correctly:
[code]
The reads are not actually paired correctly, causing everything in PE processing to fail. This is a critical flaw and needs to be patched ASAP.

[edit] Seems to be working now, but awaiting confirmation (reply to this thread)

[2016-12-16 20:21] GabeAl commented on #27
@bhillmann
Any idea why this is still happening? Is this a version problem again? I though the new version didn't spit out this list of file names?

Anything we can do to help debug on our end? My python knowledge is limited, but I would imagine it's just some quirk having to do with how these are sorted. Any chance of replacing with a regular expression like in the old shell script?

Thanks!

[2016-12-16 20:31] bhillmann commented on #27
Update is pushed. I'm not sure if you have the most recent version. If we get to a stable version, we should start making releases so that we can verify what version people have.

And yes, you can use a regular expression, but we need to be careful if R1,R2 appear in the filename itself.

I now sort and then split on even odd index. Since we have a list of filenames sorted alphabetically this shou

[2016-12-16 21:19] GabeAl commented on #27
Sounds good. Another suggestion would be to write the version to the log
with every run. I wonder if there's a way github can automatically assign a
version string based on commit (just the first few digits of the hash or
something).

Thanks!

On Dec 16, 2016 2:31 PM, "Benjamin Hillmann" <notifications@github.com>
wrote:

[2016-12-16 21:56] GabeAl commented on #11
Also see: https://github.com/knights-lab/shi7en/commit/1746fe4e34a989269a87ba1e1c2e7652e6d98d56#commitcomment-20220253

[2016-12-27 07:18] kaiweiang commented on #19
So I was trying to add ```scripts ``` in the setup.py ([see here](http://python-packaging.readthedocs.io/en/latest/command-line-scripts.html#command-line-scripts)) to allow user to install the shi7en via ```pip install``` without having to manually add the shi7en_trimmer to the PATH. You can see the commented parts I added in the setup.py. However, there were some erros: ```UnicodeDecodeError: 'ut

[2016-12-27 21:13] bhillmann commented on #19
I have been unsuccessful in using a setup.py to manually add binaries to the path.

In the fine print of that article it states that _adding command line tools written in Python_. Unfortunately, this does not include binaries, and is still a method for Python only tools. That is why you get that encoding error, since Python is trying to decode the script as Python. There are workarounds, but again

[2017-01-10 20:04] #25 closed

[2017-01-11 03:25] GabeAl commented on #27
This seems to work now, even if it appears a bit "ad hoc."

The pros of this method are: doesn't need specific pattern to identify R1 and R2 reads.
The cons of this method are: can't use a specific pattern to verify R1 and R2 reads.

A combination would be to look for the "last changed number" and make sure it goes from "1" (in the R1s) to "2" (in the R2s).
Example:
My read1 filename is: TKJMC_FMK

[2017-01-11 03:29] GabeAl commented on #24
Seems to work -- though we should still try with a collaborator's machine.

Kaiwei, I'm going to give you access to my linux machine to try it out on your end too!

[2017-01-11 03:30] GabeAl commented on #20
I think this was what we had on the board the other day:

- Shotgun case
- Amplicon case
- General R1-only case (no stiching, discard R2)

[2017-01-11 03:41] GabeAl opened #28 "Self-learning methods"
A primary feature that can set this software apart from other pipelines could be its ability to learn what parameters to use based on the fastq data it is provided. To do this, the user should specify a "learning" mode, and the software should figure out the parameters, and explain to the user what selections have been made.

- Look at the names of the files and determine whether R1 and R2 are lik

[2017-01-11 03:41] GabeAl commented on #16
See #28 and close if duplicated

[2017-01-11 03:51] GabeAl commented on #11
Couple comments: I'd suggest the following commands for the gotta_split component as arguments for shi7en.py:
--split_r1
--split_r2
--split_oligos
--split_output

This way they'll be clear and easy to fit into the use categories that gotta split has:
Usage: gotta_split r1.fq r2.fq oligos.txt [PREFIX] [--deep] [--errors N]

so it would be gotta_split <split_r1> <split_r2> <split_oligos> <split_outp

[2017-01-11 03:57] GabeAl commented on #10
Doesn't mean they can feasibly -- or even reasonably -- get it working. :) But yes, we can and should say what could be used to compile everything.

It's also different depending on Windows/Linux/Mac. It's also different depending on what GCC _distribution_ (not version) they're using (Mac's homebrew GCC is broken with binutils and can't handle AVX; hpc-osx can't handle LTO, Clang can't handle Ope

[2017-01-11 04:03] GabeAl commented on #17
Suggest demoting this to a "1.1" release. Unless some research has been done on the dependencies and the feasibility/licensing of including a static binary (or up-to-date all-OS Conda repo) and this is an easy thing to do.

Many aligners that actually care about dusting do it automatically during alignment (see BLAST), so it may be a non-issue for read prep anyway.

[2017-01-11 04:06] GabeAl commented on #13
How is this going? Is this still a major 1.0 feature or should this be demoted to 1.1 or a future release? I'm trying to get a "feature freeze" in place for 1.0 so we know where to focus our immediate efforts. :)

[2017-01-11 04:19] GabeAl commented on #19
Very simple, just grab the binary from GitHub within the install script. That way you don't need to distribute big bloated packs of all the binaries.

[code]

That's it. Tested and working to grab the linux binary and name it the "universal name" shi7en_trimmer.exe which will work on Linux, Windows, and Mac.

Just like this, we can grab the correct binary for the system easily this way from GitHub

[2017-01-11 04:28] GabeAl commented on #26
The simple answer to this question would probably also be the answer to this one:
Does os.path.join put quotes around the string it returns [or delimit spaces with '\ ']? If yes, spaces should be fine.

[2017-01-11 17:43] bhillmann commented on #13
This has not moved forward. It is not essential towards a 1.0 release. Are we working towards alternative ways of installation?

[2017-01-11 18:22] GabeAl commented on #13
Thanks Ben, sounds good. Yes, we're currently whipping up an "install script." Like you said earlier, it would be good to leverage the dependency and version management infrastructure in conda-forge, but we can save that for a 1.1.

[2017-01-11 18:26] GabeAl commented on #14
We now have some test cases scattered around, but it's not in the repo (so yes, bad practice indeed).

@kaiweiang , would you mind uploading all the test files and commandlines you've accumulated over time?

[2017-01-11 18:30] bhillmann commented on #14
I was thinking to eventually add unit test cases. Any suggestions for this software? I know there are several options in Python and we could emulate open source best practices. Any interest in learning a continuous integration suite?

For now, it might be simplest to include some small FASTQ files to the repository to check the pipeline.

[2017-01-11 18:35] GabeAl commented on #14
Good idea. I think this is fairly essential as we expand the number of possible run configurations. The more combinations of options possible, the more likely something subtle will go wrong, and unit testing becomes more relevant. Yes.

For now (1.0), some test files are probably enough, and we can verify they're working with the common commandlines.

[2017-01-11 20:49] kaiweiang commented on #11
@GabeAl The small samples you gave me (uploaded in this thread) last time did not work, and I think it is because the oligos.txt did not match with the R1 and R2 samples. I can only test it if you give me the access to the remote machine where you test it, like you said you're going to in another thread.

[2017-01-11 21:23] kaiweiang commented on #11
Regarding the comments, the extra flags I set up are
--split_r1
--split_r2
--split_output
The oligos is treated as the --input arguments, since the --input flag is the **required flag** and there will not have input directory if the users want to run gotta_split. In the end of the gotta split, the output of gotta_split will be the new input for the subsequent steps. Ofc, the instructions need to b

[2017-01-12 00:05] bhillmann commented on #26
I'm not entirely sure of the behavior of os.path.join, so let us check it out. It is meant to be system agnostic, so my guess is that it does work with spaces.

[code]

And voila, it works.

[2017-01-12 00:05] #26 closed

[2017-01-12 00:12] bhillmann commented on #19
A more efficent way to download a file would be to fetch chunks. I also made a gzip version.

Try the function I created awhile back in NINJA-utils located [here](https://github.com/knights-lab/NINJA-utils/blob/master/ninja_utils/utils/collections.py)

[code]

[2017-01-12 00:14] bhillmann commented on #17
I didn't realize they dusted automatically. Sounds good to me.

[2017-01-12 00:20] bhillmann commented on #28
Seems feasible enough.

I am concerned with the first step with the adapters. Wouldn't you rather look at consistency of trimming based on length of trim?

Can you more explicitly define 'low quality' tails?

[2017-01-12 00:27] bhillmann commented on #27
Philosophically, I think this is a deeper issue with sequencing data. Although working with large flat files is easy intuitively, I think having data machine readable and code human readable would put this discussion in its Kafan before it happened. Having a replacement specification for FASTQs should be a higher priority.

Anyway, I don't know of a good REGEX that could fix our problem, as you st

[2017-01-12 02:38] kaiweiang commented on #19
I will look into your all inputs and make one based on them.

[2017-01-13 00:04] kaiweiang commented on #19
Do we need to help the user to add the binaries to the $PATH within the install script?
Besides, the mac version binaries are not in the release downloads. Do we need to add them?
Finally, are we really using shi7en_trimmer.exe as the "universal name"?
@GabeAl @bhillmann

[2017-01-13 20:56] GabeAl commented on #19
Yes, I'll add those, hopefully this weekend!

Thanks as always!

On Jan 12, 2017 6:04 PM, "Kaiwei Ang" <notifications@github.com> wrote:

[2017-01-13 21:01] GabeAl commented on #19
As for the path thing, I think we could either try to do that or simply
ignore it for now.

If we don't want to worry about modifying the user's PATH, there's a
solution. Since the install script knows where it's putting the binaries,
the main shi7en script can call them with a relative path as long as the
binaries are in a different folder, like one called "bin".

On Jan 13, 2017 2:56 PM, "Gabe A

[2017-01-13 21:09] GabeAl commented on #19
Example: user downloads shizen install script. Install script does the
following:

It downloads and puts the main shi7en script.

It creates a directory called "bin" and downloads the appropriate system
binaries, renaming them to something like "binary.exe" (replace "binary"
with the actual binary names without "Mac" or "lin" or whatever).

In the main python script, define a variable for each bin

[2017-01-23 19:33] pvangay opened #29 "Understanding SHI7EN parameters"
1. - What are we supposed to put for --r1 and --r2? Are these the expected identifiers for the two? So if my file is named "CS-137_S84_L001_R1_001.fastq", should I put in something like --r1 R1_001?

2. - Is --filter_length equivalent to create_trimmer_general_L150.sh? So if I used this script before, should I be changing this parameter to 150?

3. - Was 20 always the default for the trim quality?

[2017-01-23 19:36] pvangay commented on #29
From Ben:

What are we supposed to put for --r1 and --r2? Are these the expected identifiers for the two? So if my file is named "CS-137_S84_L001_R1_001.fastq", should I put in something like --r1 R1_001?
Specifying the R1/R2 are for the gottas split command, equivalent to split libraries from QIIME, and that documentation is currently not present. The default mode is paired_end, and will ignore t

[2017-01-23 20:50] kaiweiang commented on #29
FYI, the implementation of the gotta split in this wrapper has not been tested yet.

[2017-01-23 21:20] pvangay opened #30 "SHI7EN on MSI"
(shi7en) vanga015@labc03 [~/imp] % pip install git+https://github.com/knights-lab/shi7en --upgrade --no-cache-dir
Could not find platform independent libraries <prefix>
Could not find platform dependent libraries <exec_prefix>
Consider setting $PYTHONHOME to <prefix>[:<exec_prefix>]
Fatal Python error: Py_Initialize: Unable to get the locale encoding
ImportError: No module named 'encodings'

Curre

[2017-01-23 21:21] pvangay commented on #29
Gabe's answers:
What are we supposed to put for --r1 and --r2? Are these the expected identifiers for the two? So if my file is named "CS-137_S84_L001_R1_001.fastq", should I put in something like --r1 R1_001?
-- no, R1 and R2 files are determined automatically. These are for split_libraries related work. Not necessary if working with files from UMGC.

Is --filter_length equivalent to create_trimm

[2017-01-23 21:58] bhillmann commented on #30
I believe this is a bug with your installation of Python and not SHI7EN.

There are most likely multiple versions of Python installed on your account for MSI. Can you try running:

[code]

With your environment active? Then, you should see where pip is installing its libraries. It should be to the conda environment. More information about this issue can be found [here](https://techglimpse.com/erro

[2017-01-24 16:52] pvangay opened #31 "sample name editing"
Files from UMGC are oddly named like this: "T-CS-147_S118_L001_R1_001.fastq"

But my actual sample name is only "T.CS.147"

At the moment SHI7EN turns this into T.CS.147.S118

Is there any way to specify where the sample name starts/stops?

[2017-01-24 17:42] bhillmann commented on #31
Not at this time, it does this for QIIME formatting.

[2017-01-24 19:08] GabeAl commented on #31
A simple fix would be to add an option like "--truncate_names" which would only keep filenames up to the first underscore "_" character. So for example if one of our files was named:

Bla.blablab-Blabla_Bla_001_S2183_R1_001.fastq

Then for making the names in the fasta file, we should only keep: Bla.blablab.Blabla.

Easy way:
str.split('_')[1]
To grab the string before the underscore. Then continu

[2017-01-24 21:40] bhillmann commented on #31
Sure we can add that!

I'm entirely unsure of the scope of how much these one off features will be needed though. Do we have evaluation criteria for adding features? We are already quickly filling up with a lot of commandline arguments. I'm all about promoting flexibility, but having to maintain this functionality over regressions could turn out to be a pain.

Should we enact a more stable 'metada

[2017-01-25 18:44] pvangay commented on #31
Well, I think that since most of our raw sequences for the entire lab will be coming from UMGC, it would be nice if the default behavior for SHI7EN worked best for those files. But I'm open to any solution - as long as there is one.

Thanks y'all!

[2017-01-25 19:50] bhillmann commented on #31
Very fair point. What would you like it to do?

The file names are like:

"T-CS-147_S118_L001_R1_001.fastq"

And then they should be output like:

"T-CS-147_S118_L001_R1_001.fasta"

Or if you stitch...

"T-CS-147_S118_L001.fasta"

[2017-01-26 03:55] GabeAl commented on #27
Might be good in the long-term, but as long as the docs are clear that the set of forwards and reverse fastqs should be there, the goal is to make things for them and us simple. The fewer hurdles to leap the better. I'll close this for the time being!

[2017-01-26 03:55] #27 closed

[2017-01-26 03:56] GabeAl commented on #16
Closed as duplicate

[2017-01-26 03:56] #16 closed

[2017-01-26 03:58] GabeAl commented on #30
We should prioritize getting conda/env-free installation working for a preliminary 1.0. As much as I love environments, I think for simplicities sake (and to save ourselves the debugging hassle for early versions like the pip/conda fiasco that plagued Byran's setup), we should wrangle something up. I'm working on a distributable for linux now (we will set this up as our lab SOP too!)

[2017-01-26 03:59] GabeAl commented on #31
So the goal is to keep T.CS.147 and nothing else. So kill all at the first underscore (an option for this might be more generally useful than we thought, too -- Trevor mentioned this is a convention for naming plates/wells the sample went into).

[2017-01-26 04:00] GabeAl commented on #24
Closing as it seems to work (will re-open if the issue ever re-emerges!)

[2017-01-26 04:00] #24 closed

[2017-01-26 04:03] GabeAl commented on #10
gcc 5,6,7:
gcc -m64 -Ofast -fwhole-program -flto -march=nehalem -static -fopenmp
should cover the bases actually. Literally. Base coverage. QC. Heh. Heh...

Need a list of what binaries are needed and what to name them! I'm going to go off the install script for now.

[2017-01-26 04:05] GabeAl commented on #29
Closing for now, thanks @pvangay .

I will open new tickets addressing:
- renaming the r1 and r2 parameters
- making the 'overall quality' knob settable via commandline

[2017-01-26 04:05] #29 closed

[2017-01-26 04:07] GabeAl commented on #19
@kaiweiang
Re-claiming this ticket now. Sorry for the delay. I no longer have a Mac; since you have one, I'd like you to take over the compilation of the Mac binaries if you don't mind. :) If you bring your Mac with you next time I can try getting GCC set up for you, and give you the commands to use to compile the .c files.

I agree, not having the Mac binaries would make testing on a Mac difficul

[2017-01-26 04:10] GabeAl opened #32 "Make the "overall quality" in shi7en_trimmer editable by commandline"
There is a parameter in the shi7 binary trimmer that may be very useful to users. This is a knob that controls overall quality of reads retained; so it is very much like a "filter" in the way our length filter is.

This is the "30" number in the commandline for shi7en_trimmer. If this is settable by users (default 30), with the name "filter_avg_qual" or something, that would be great.

Thanks!
@pv

[2017-01-26 04:21] GabeAl opened #33 "Remove dependence on string "R1" occurring in reads"
Code in question:
`format_basename(re.sub('R1', '', input_path_R1))`
This needs to change (or add a check if R1 is not present, just to swap "1"). I don't know whether this would cause downstream problems after stitching if the reads didn't contain "R1" or "R2" but instead had .1 and .2 or F and R or some other convention that is now caught properly with the new trimmo paired end even-odd selector

[2017-01-26 04:23] GabeAl commented on #19
What does this do, and is it compatible with a conda-free, env-free, package-free installation?

`adap_data = pkg_resources.resource_filename(__name__, os.path.join('adapters', adaptor_dict_PE[adaptor_name]))`

Thanks!

[2017-01-26 06:24] GabeAl commented on #32
Done

[2017-01-26 06:24] #32 closed

[2017-01-26 06:26] GabeAl commented on #31
Added functionality to python for this -- but it is half-baked for now, so don't use it yet.

Needs a revamp of the functions (passing around dozens of arguments is Very Bad News for any changes to a core function's arg count. Instead, pass around the args object or another object of relevant variables such as a list).

To-do: remove global variable, make it work when the R1 appears before the fir

[2017-01-26 06:26] GabeAl commented on #30
Try with the new release package and let me know.

(i.e. if it requires chmod +x on everything in the dir or whatever)

[2017-01-26 09:28] kaiweiang commented on #19
I believe so as this is the proper way to access a package's data files (In this case, the adapters) at runtime.
See: http://peak.telecommunity.com/DevCenter/PythonEggs#accessing-package-resources

[2017-01-26 18:05] bhillmann commented on #31
I agree, there shouldn't be any global variables. Functions should be written to be modular, such that they only take in a set of few arguments and work within their defined scope. Can you show me what your issue is? Everyone making changes to the code should be doing so with an interactive programming environment set up, so they can see what variables are in the scope. We also should set up some

[2017-01-26 19:09] bhillmann commented on #33
It shouldn't cause any downstream issues. Every function is modular and only uses local scope.

[2017-01-26 19:11] bhillmann commented on #19
This is through 'pip' and not conda. So this will only work with the pip installation of the package and not as a standalone script.

[2017-01-26 20:47] GabeAl commented on #33
That's not what I mean. For example, if this particular function depends on
finding the string "R1" and it doesn't exist because it uses a different
format (like the HMP .1. or .2.), what will happen? Dependencies are
carried through the modification of fastq_path and if this step expects
something others don't, it's worrisome.

Other functions now just sort and take even numbers as R1 and odd as

[2017-01-27 04:16] GabeAl commented on #31
Update: PJ's request is in. Additionally, rolled back the other core-specific mods since we can't rely on them (should they be enable-able? "sanitize" options?).

To use this feature, use "-s" or "--strip_underscore" which will strip the first underscore and everything after it. Let me know!

[2017-01-27 04:16] #31 closed

[2017-01-27 05:25] GabeAl commented on #30
Try with the new version 0.91 on releases, or add this to your path:
[code]

and then re-load your environment. You should be able to use shi7.py normally!

[2017-01-27 05:26] GabeAl commented on #14
Added test files. Still need tests for gotta_split though!

[2017-01-27 05:36] GabeAl commented on #20
Done!

[2017-01-27 05:36] #20 closed

[2017-01-27 21:56] bhillmann commented on #28
R1/R2 can be determined by filesize.

[2017-01-30 22:06] GabeAl opened #36 "Speed up the python parse/write (Convert/combine fasta steps)"
It seems for the test HMP samples on multi-core systems (16 threads) the trimmomatic and flash steps run in less than 5 minutes but the python script that converts and/or writes to QIIME formatted FASTA takes another 10. Is there some way to speed this up (yield?).

[2017-01-30 22:28] bhillmann commented on #36
Yes, there are a couple of optimizations that wouldn't take very long.

1. Currently runs single-threaded
2. FASTQ parser needs testing setup for optimization (currently does do yield, just need readily available testing for it)
3. Parse binary file objects instead of Python strings ('bw' instead of 'w')

[2017-01-30 22:59] GabeAl commented on #36
I like #3. Almost seems too easy... :)

On Jan 30, 2017 4:28 PM, "Benjamin Hillmann" <notifications@github.com>
wrote:

[2017-02-09 22:06] bhillmann opened #37 "Detect if paired end"
#35 Learning module update must be able to detect if reads are paired end or single end.

[2017-02-09 22:07] bhillmann commented on #37
3 heuristics can be used after sorting the files. Checking two files in sequence:

- [x] 1. File size
- [x] 4. Name of the sequence
- [x] 2. Number of lines
- [ ] 3. Name of the files

[2017-02-09 22:26] bhillmann opened #38 "Rename repo from shi7en to shi7"
It is in the repository settings. Only the owner can do this.

[2017-02-09 22:28] bhillmann commented on #38
We think that @danknights is the owner. 👍

[2017-02-10 02:04] #38 closed

[2017-02-16 21:44] kaiweiang opened #39 "generator terminates one line before eof"
When trying a function such as this, on a file of known 500 sequences, I always get 499 back (499 headers, seqs, and quality strings):

[code]

[2017-02-23 19:32] bhillmann commented on #39
I updated the read_fastq code and created a test file. Bug should be fixed in latest commit.

[code]

[2017-02-23 21:45] bhillmann commented on #39
This is resolved in 444ba491a68ac2e764e8fd3292ef1bdeb4a2fb20

[2017-02-23 21:46] bhillmann commented on #39
This is resolved in 444ba491a68ac2e764e8fd3292ef1bdeb4a2fb20

[2017-02-23 21:46] #39 closed

[2017-02-23 21:48] bhillmann commented on #36
3 Failed, it appeared to be slower. FASTQ parser has been updated, and new loop may yield faster processing. Should run them in parallel in the convert. The combine cannot be.

[2017-02-23 21:48] bhillmann commented on #30
This should be fixed, closing for now.

[2017-02-23 21:48] #30 closed

[2017-02-23 21:49] bhillmann commented on #10
This is done.

[2017-02-23 21:49] #10 closed

[2017-02-23 21:51] bhillmann commented on #14
Preliminary testing files have been added for other files. @GabeAl Can you make the gotta_split ones?

[2017-03-04 23:31] kaiweiang opened #40 "Need to write the subsampled fastqs files"
Fastqs subsampling from the Learning module #35

```get_seq_length_qual_scores()``` from learning.py needs to be able to write the subsampled fastqs.

[2017-03-09 22:12] kaiweiang commented on #40
Done with the commit 306d04ddc30300d7d115f857c3340715e605f518.

[2017-03-09 22:12] #40 closed

[2017-04-14 21:47] RRShieldsCutler opened #41 "shi7 doesn't recognize *.fq files."
fastq files are only recognized if file extension = ".fastq". Files such as "Sample1_R1.fq" will throw the following error:

`Traceback (most recent call last):
  File "/project/flatiron2/sop/shi7.py", line 383, in <module>
    main()
  File "/project/flatiron2/sop/shi7.py", line 329, in main
    path_fastqs = axe_adaptors_paired_end(path_fastqs, axe_output, args.adaptor, threads=args.threads, she

[2017-04-14 23:03] RRShieldsCutler opened #42 "debug mode + flash false = error"
Error when running debug mode with `--flash False`. Looks like it is searching for trimmer files (which presumably don't exist with flash == False). Doesn't kill the process or affect the file output, that I can tell.

[code]

[2017-04-14 23:52] GabeAl commented on #42
Why are you assuming trimming files don't exist without flash? Maybe it's a
quirk in the wording. When you want to run a paired end pipeline without
flashing, you'd still like to do the other steps -- parse, trim adaptors,
post-trim, convert, combine right?

What happens if you also add --adaptor none (or omit the adaptor part
entirely)?

Or is it failing on the trim step that usually comes after

[2017-04-15 00:32] RRShieldsCutler commented on #42
That's why I said "presumably"... because I'm not 100% certain what exactly is happening ;)
But, the `temp/trimmer/` directory is empty.

Trying a couple other things. Will update.

[2017-04-15 03:19] RRShieldsCutler commented on #42
Mmmmkay. I did seven different combinations. Two findings:
1. Combination of `-flash False` and `-s True` produces the error above (debug and adaptor don't matter).
2. Passing in "None" (with or without quotes) results in the following error:
[code]

[2017-04-15 04:57] GabeAl commented on #42
Gotcha. Yup this is definitely the "second" trimming stage (independent of the adaptor trimming). My guess is shi7.py (through shi7_trimmer) is expecting the flash step to transform the file name in a generic enough way that the downstream steps (trimmer, convert/combine) are OK with it. I think the solution is for the program to detect it's working with a stripped R1 read where "R1" may have been

[2017-04-15 04:59] GabeAl commented on #42
@RRShieldsCutler Could you provide the filenames and the commandline used to reproduce the issue?
@kaiweiang Let us know if you need any more info to reproduce the problem. I think changing the test fastq filenames will be enough, but I could be wrong.

[2017-04-15 05:00] GabeAl commented on #41
@kaiweiang Could you make shi7.py accept ".fq" files too? They are the same as ".fastq"

Thanks!

[2017-04-15 05:02] GabeAl commented on #33
May be related to #42

[2017-04-15 12:50] RRShieldsCutler commented on #42
@kaiweiang Try it with these filenames:
[code]
This command should reproduce the error:
`shi7.py --adaptor TruSeq2 --flash false --convert_fasta False --combine_fasta False -filter_l 50 -i . -o test5 -s True`

[2017-04-18 20:10] #41 closed

[2017-04-18 21:01] kaiweiang commented on #42
@RRShieldsCutler Hi, did you try to run without `-s True`?

[2017-04-18 21:06] RRShieldsCutler commented on #42
@kaiweiang Here are the permutations I tried, and whether they worked ("SUCCESS") or resulted in error ("ERROR"):
[code]
I did run a couple others with `--adaptor None` which raised a different error, as @GabeAl addressed above.

[2017-04-19 05:42] kaiweiang commented on #42
@GabeAl
I tried running the same combinations of parameters with our default testfastqs and got the exact same issue too. It seems the `--strip_underscore` feature is buggy. I can't rmb who wrote this, was it you or Ben?

Here's an issue arise when running `-s true` and `--flash false`:
The original input fastqs are
`GA01.S001.L001.R1.001.fastq`
`GA01.S001.L001.R2.001.fastq`
`GA01.S002.L001.R1.001

[2017-04-19 13:29] GabeAl commented on #42
I think I added it, but I'm not sure where it's messing up.

About the unique file names, yes, that is one issue. But just trying on a
single correctly and uniquely named pair shows there's more going on:

@kaiweiang <https://github.com/kaiweiang> Try it with these filenames:

HD-10_Run1.1.fastq
HD-10_Run1.2.fastq

On Apr 19, 2017 12:42 AM, "Kaiwei Ang" <notifications@github.com> wrote:

[2017-04-19 14:45] bhillmann commented on #42
This code was designed this way, but I wrote it up.

In order to avoid dealing with this issue, and other issues similar to this in the future, can we force the user to supply a mapping file for samples?

[2017-04-19 17:13] kaiweiang commented on #42
@GabeAl
Yeah, given the input fastqs
`HD-10_Run1.1.fastq`
`HD-10_Run1.2.fastq`
Two `HD.10.fastq` are created since the first strip_underscore which occurred in axe_adaptor stage. The `shi7_trimmer` somehow doesn't yield the expected output whenever there are two or more same filenames.

[2017-04-19 17:16] #37 closed

[2017-04-19 22:36] GabeAl commented on #42
Interesting. I think we should add an R1/R2 if the filenames get messed up,
and then rip them off later if necessary (flash should do this
automatically when it creates an extendedFrags output).

Would you be able to figure out where it's going wrong? Any way you could
come up with a nice fix? :)

On Apr 19, 2017 12:13 PM, "Kaiwei Ang" <notifications@github.com> wrote:

[2017-04-20 19:38] kaiweiang commented on #42
I'll see what I can do 👍

[2017-04-21 23:46] kaiweiang commented on #42
@GabeAl @bhillmann
The current implementation of `--strip_underscore` (ofc only happen when --strip_underscore is true) with or without flash will cause shi7 to behave incorrectly as soon as at the axe_adaptor stage and hence all the subsequent stages will be affected too.

In conclusion, the current implementation of `--strip_underscore` has two problems

1st case:
Given filenames
`HD-10_Run1.1.f

[2017-04-22 03:04] GabeAl commented on #42
Users should not have to be forced to do anything. The purpose of this
feature is for convenience so they don't have to rename their files. This
is important when there are hundreds of files and renaming them is
burdensome.

The software should be smart enough to do this by itself. In both cases you
mention, shi7 should add the R1 and R2 to the first and second file (
*replacing* everything after

[2017-08-22 16:42] TonyaWard opened #43 "readme typos"
In the readme examples you call the script with `$ shi7en` not `shi7.py`

[2017-08-24 01:14] GabeAl opened #44 "Need new flag: "--discard_R2" (should work with and without -SE)"
This would be useful with things like '-SE', which by default still keeps all the R2 reads (it merely disables *checking* whether reads are paired, but doesn't do anything about it if they are and the user just wants R1). This may be desirable sometimes, other times not.

Similarly, if the user has paired end reads that don't stitch and uses --flash false, the "--discard_R2" flag would simply chuc

[2017-08-24 01:16] GabeAl commented on #43
Yes, this is the old name. Definitely on the to-do list. Thanks!

[2017-08-24 01:16] GabeAl commented on #33
Going to close this as it doesn't seem to be an issue anymore. Other issues involving R1/R2 may have been conflated with this one!

[2017-08-24 01:16] #33 closed

[2017-08-24 01:18] GabeAl commented on #11
Thanks! I'm going to close this for now until any new bugs or issues are reported. I will update the help strings and (eventually) the readme!

[2017-08-24 01:18] #11 closed

[2017-08-24 01:21] GabeAl commented on #42
As @kaiweiang mentioned, this problem was actually related to other factors. The strip_underscores command as well as (at the time) a faulty R1/R2 decoupler contributed to thinking this was the actual bug, when it was not.

[2017-08-24 01:21] #42 closed

[2017-08-24 01:29] GabeAl opened #45 "Debug the "strip_underscore" feature"
The purpose of this feature is for convenience so users don't have to rename their fastq files (only the text up until the underscore is kept, which is sufficient for sample names in most cases for the sequencing centers we've dealt with). This feature is important when there are hundreds of files and renaming them is burdensome.

When the files contain R1 or R2 designators after the first undersc

[2017-08-24 01:35] GabeAl opened #46 "Remove numpy dependency, revisit stdev logic"
The learning module introduced a dependency on numpy for the calculation of subsampled means and standard deviations of stitching overlaps.

Because we want to keep the software unencumbered of external dependencies where possible for portable release, and because these calculations are fairly trivial, I think they should be replaced.

[2017-08-24 01:36] #43 closed

[2017-08-24 21:02] RRShieldsCutler commented on #44
I've added this in my fork. The argument is `--drop_r2`. It works with `--flash False` or `-SE`, but does require the fastq filename to either 1) end with R1/R2.fastq, or 2) concurrent use of the `--strip_underscore True` argument.

It also removes the "R1" label, which makes matching to samples easier downstream.

I've tested it on a set of ~180 shallow shotgun fastq. It works, and was almost 30%

[2017-08-24 21:25] bhillmann commented on #44
If you fixed this issue, you can do a pull request from your fork. Then you can reference it from this issue. It sounds like you have it tested too, so we should be able to merge it right away.

[2017-08-25 02:48] RRShieldsCutler commented on #44
Pull request submitted.

[2017-08-25 02:48] #44 closed

[2017-09-02 19:23] GabeAl opened #48 "Bug: Failure with R1/R2 in the format blah_1.fastq blah_2.fastq"
`08/30/2017 06:47:48 PM ['/panfs/roc/groups/8/knightsd/clayt092/projects/douc_belly_bugs/public_datasets/stomach/embl_prjeb7843/ERR688806_2.fastq', '/panfs/roc/groups/8/knightsd/clayt092/projects/douc_belly_bugs/public_datasets/stomach/embl_prjeb7843/ERR688806_1.fastq']

08/30/2017 06:47:48 PM trimmomatic PE -threads 4 /panfs/roc/groups/8/knightsd/clayt092/projects/douc_belly_bugs/public_datasets/

[2017-09-03 00:36] GabeAl opened #49 "Bug: filenames mutated containing R1 and R2 in sample names"
'ERR1352369', 'ERR1352368', 'ERR1352367', 'ERR1352366', 'ERR1352365', 'ERR1352364', 'ERR1352363', 'ERR1352362', 'ERR1352361', 'ERR1352360', 'ER368486', 'ER368487', 'ER368484', 'ER368485', 'ERR989659', 'ERR989658', 'ER368480', 'ER368481', 'ERR989657', 'ER368488', 'ER368489', 'ER368507', 'ER368506', 'ER368505', 'ER368504', 'ER368503', 'ER368502', 'ER368501', 'ER368500', 'ER368509', 'ER368508', 'ER36

[2017-09-03 04:59] RRShieldsCutler commented on #49
Yes, along with point 1, would be nice to detect if labeled with just "1" not "R1", etc. by matching pairs. Part 2 is straightforward once 1 is done.

Would be nice if file names were just consistent.......

[2017-09-03 23:44] GabeAl commented on #46
done. needs some testing though.

[2017-09-03 23:44] #46 closed

[2017-09-05 19:02] RRShieldsCutler commented on #49
@GabeAl  What was the command run for the issue described above?

[2017-09-05 19:17] GabeAl commented on #49
This was the standard run with -i and -o and --adaptor Nextera

(so it does the stitching and R1/R2 detection stuff!)

[2017-09-05 21:22] GabeAl opened #50 "Uppercase T and F doesn't work now"
Complains about the dictionary when I try to use uppercase T/F values. Main branch.

I imagine there need to be a few more calls to "toLower" sprinkled in there, or maybe a wrapper function around the dict which calls toLower on the string being passed in before looking up and returning the value.

[2017-09-09 17:06] danknights opened #51 "Support input gzipped fastq files"
This is fairly standard among other genomics tools.

[2017-09-09 19:51] danknights opened #52 "Shi7 removes R1 or R2 while keeping the other with --combine_fasta False"
E.g. a read in R1 fastq might be removed due to QC, but the reverse read in R2 gets retained, or vice versa. This leads to mismatched R1 and R2 files which breaks later processing.

Solution: When dropping an R1 read the corresponding R2 must also be dropped.

[2017-09-11 18:12] GabeAl commented on #51
Because there will (with almost any combination of flags) be tools in the pipeline that require writing intermediates anyway, any advantage of this is currently moot.

In a future release where everything can be piped into the various programs directly, this would make more sense.

As a workaround we could just get python to unzip the fastq's if ".fastq.gz" or ".fq.gz" or ".zip" is detected, and d

[2017-09-11 18:25] GabeAl commented on #52
Hi! Few clarifications needed:
1. What's your commandline?
2. What do you mean by "later processing"?
3. Could you attach the shi7.log file?

We've seen lots of lingering R1 and R2 mismatch issues due to bugs in parsing filenames causing bad interpretation of pairs at the outset. But I haven't yet seen a case where it is caused by discarding one read or other other in a pair during QC (we tried to

[2017-09-11 18:27] GabeAl commented on #50
should be ok again!

[2017-09-11 18:27] #50 closed

[2017-09-11 18:31] GabeAl opened #53 "Print full shi7 command in log file"
It would be good to print the commandline that was used to run the program directly in the log file.

[2017-09-19 19:35] GabeAl commented on #52
@danknights ping!

[2017-10-11 20:34] bhillmann opened #56 "Can't create hard links across network attached storage"

[2017-11-20 23:50] GabeAl commented on #56
Should be fixed!

[2017-11-20 23:50] #56 closed

[2017-11-20 23:50] GabeAl commented on #53
should be fixed!

[2017-11-20 23:50] #53 closed

[2017-11-20 23:50] GabeAl commented on #52
@danknights still happening with latest version?

[2017-11-20 23:51] GabeAl commented on #49
Should be fixed!

[2017-11-20 23:51] #49 closed

[2017-11-20 23:51] GabeAl commented on #45
Replaced with --strip_delim and should now be fixed!

[2017-11-20 23:51] #45 closed

[2017-11-20 23:51] GabeAl commented on #28
Now in place as of 0.9.3!

[2017-11-20 23:51] #28 closed

[2017-11-20 23:52] GabeAl commented on #48
Fixed!

[2017-11-20 23:52] #48 closed

[2018-02-14 21:52] danknights opened #57 "Automatically run gunzip on input files if .gz or .gzip"
gunzip files to temporary output dir -- input dir might not be writeable.

Long-term solution should be to have inline gzip support but this would be a quick fix.

[2018-05-30 16:16] transcript opened #58 "Index out of range error on FLASH outies in test data"
I just downloaded the latest release (0.9.9), unzipped, and ran the following command:

`shi7_learning.py -i testfq -o learnt`

and got the following error:

[code]

Not sure what's wrong, but this seems pretty darn reproducible!

[2018-05-30 17:13] GabeAl commented on #58
Thanks Sam!

Could you please post the log file? The python errors are usually not useful, sadly.

I imagine it could be a problem with the flash binary. Is it set executable and properly added to your PATH environment variable? (See the non-conda installation instructions for details on this!)

Thanks for the report!

[2018-05-30 17:15] GabeAl commented on #52
Should be fixed in latest version!

[2018-05-30 17:15] #52 closed

[2018-05-30 17:19] transcript commented on #58
Sure thing.  I'm attaching it here.  I don't see an error in it directly.

[shi7_learning.log](https://github.com/knights-lab/shi7/files/2054984/shi7_learning.log)

[2018-05-30 17:23] GabeAl commented on #58
Thanks! The log says you don't have Java, which is a prerequisite for
running shi7 with trimmomatic.

You can get away with no Java if you forego the learning step and any
adaptor removal.

Let me know if you need any help setting up Java or example commands that
forego adaptor removal!

Cheerio,
Gabe

On Wed, May 30, 2018, 12:19 PM Sam Westreich <notifications@github.com>
wrote:

[2018-05-30 17:23] transcript commented on #58
Ah, that's an easy enough fix!  Let me install Java quick and retry, and I'll close this if things proceed.

[2018-05-30 17:25] GabeAl commented on #58
Cool!
The link for the sdk is on the main Github page and the readme, can't miss
it! Fingers crossed! 🤞

On Wed, May 30, 2018, 12:23 PM Sam Westreich <notifications@github.com>
wrote:

[2018-05-30 17:31] transcript commented on #58
Looks like installing Java fixed the issue, and everything ran successfully.

[2018-05-30 17:31] #58 closed

[2018-06-25 16:33] matthpich commented on #52
Hi,
It could be useful to keep the unpaired-after-QC reads as well.
They can be a significant amount of them and they can be used by assemblers, such as Spades, and other tools.

[2018-07-10 20:54] transcript opened #59 "Shi7_learning.py has Trimmomatic fail if parent folder has a space in the name"
As the title suggests, it seems like a space in the name of the parent folder or location causes errors in the Trimmomatic component of Shi7.

I ran Shi7_learning.py in a folder at /home/system/location/WGS data/ and got the same error as seen in issue 58 (https://github.com/knights-lab/shi7/issues/58), even though Java is installed.

Changed the file path to /home/system/location/WGS_data/ by ren

[2018-09-13 15:51] TonyaWard opened #60 "Name replace"
shi7 removes internal sample name "R1" substring when stitching paired end fastqs.

Example:
Paired-End fastqs:                            BXR17001-10_R1.fastq BXR17001-10_R2.fastq
Resulting name in combined_seqs: BX7001.10

command:
shi7.py -i fastq -o /fasta --min_overlap 150 -t 64

[2018-09-14 13:53] bhillmann commented on #60
What version of shi7 are you using?

I was thinking it was this line but it finds 'R1.' and not just 'R1'.
```k = name_R1.rfind(".R1")```

[2018-09-14 14:48] TonyaWard commented on #60
shi7 v0.91 :(

I'll update.

On Fri, Sep 14, 2018 at 8:53 AM, Benjamin Hillmann <notifications@github.com

--
*Tonya Ward, Ph.D.*
Senior Scientist
CoreBiome, Inc.
1000 Westgate Drive, Suite 108
St. Paul, MN 55114
(612) 888-2466
www.corebiome.com

[2019-04-10 23:24] tseemann opened #62 "Missing description on this site"
![image](https://user-images.githubusercontent.com/453972/55920021-8a9ece80-5c3b-11e9-9043-93c225e286bc.png)

[2020-06-10 18:03] GabeAl commented on #62
Great, sorry for the delay on this!

[2020-06-11 05:19] tseemann commented on #62
I'm very patient it seems :)

[2020-07-30 22:40] wigasper opened #66 "Legacy variable from v0.9.9 exists in v1.0.0, raises NameError"
Line 249 of `shi7_learning.py` uses the `VERSION` variable, but this was replace v1.0.0 with `__version__`, this causes a NameError and the script fails. See my [pull request](https://github.com/knights-lab/shi7/pull/65/commits/080c7ed798400857a02c7e6cafc778aa8301255e)

[2020-07-31 19:52] wigasper commented on #66
Hi! Thanks a bunch for doing this, I am only now concerned because it looks like the pull request that came after this would have fixed that because it imports version information as VERSION, so now actually my PR breaks it

[2020-07-31 19:57] #60 closed

[2020-07-31 20:06] GabeAl commented on #66
Hi,

Yes -- I've noticed a bit too late there were a few merge issues here
(merged in things that seemed conflict-free but were in fact based on
different code-bases), so I'm trying to unify now. I issued a couple of
band-aids, but if you catch anything now, let me know! Much appreciated.

Thanks,
Gabe

On Fri, Jul 31, 2020 at 3:52 PM wigasper <notifications@github.com> wrote:

[2020-07-31 20:09] GabeAl commented on #59
Does this issue still exist?

[2020-07-31 20:10] GabeAl commented on #57
A gzip patch was issued by @mhoutti -- does this solve the problem?

[2020-07-31 20:10] #36 closed

[2020-08-01 05:18] transcript commented on #59
Hi Gabe, I haven't tried this recently so it may be fixed.

[2020-08-01 14:58] wigasper opened #67 "StopIteration bug in shi7.read_fastq() was merged back into master"
Hi all, I'm working with Jonathan Clayton at UNO and we're looking at using Shi7 in our standard pipeline. I'm happy to help contribute to the project so if you are looking for additional help let me know. I am more than happy to submit a PR to fix this but it looks like someone in the group already previously did that.

`read_fastq()` at line 107 of shi7.py will eventually raise `StopIteration` i

[2020-08-02 20:14] GabeAl commented on #67
You are correct. I merged something I definitely shouldn't have.

https://github.com/knights-lab/shi7/issues/66

It is now causing all sorts of issues.

[2020-08-04 18:19] #66 closed

[2020-08-04 18:23] GabeAl commented on #67
Okay, I've added grouper back in (which decomposed a fastq record into sequence, garbage, and qualities; and which uses zip_longest to pack them together).

Hopefully this re-fixes the stopIteration bug. In the meantime, I have learned not to blindly trust github's auto merge conflict detection.

[2020-08-05 12:14] wigasper commented on #67
Thanks! Much appreciated. Would it be helpful for me to set up a CI workflow to run through the unit tests on every PR?

[2020-08-06 15:51] GabeAl commented on #67
That would be phenomenal if you had the time and willingness! Much appreciated.

[2020-10-15 19:35] akiledal opened #69 "'VERSION' is not defined"
Hello,

I just installed shi7 for the first time using conda. When I run the `shi7_learning` command, I get an error "NameError: name 'VERSION' is not defined".

Command run: `shi7_learning -i metagenomics_trial/S3_Fallen/ -o shi7_learn`

Full error:

  File "/home/akiledal/miniconda3/envs/shi7/bin/shi7_learning", line 11, in <module>
    load_entry_point('shi7==1.0.0', 'console_scripts', 'shi7_le

[2020-10-16 04:46] akiledal commented on #57
I don't think this problem is actually fixed.

[2020-10-16 15:29] GabeAl commented on #69
@bhillmann @mhoutti
Do you two conda gurus have idea what might be going on here? The latest code does not use the global variable "VERSION", so it seems to be an issue with conda syncing.

[2020-10-16 15:31] GabeAl commented on #57
Hi @akiledal
What version of SHI7 are you using? We are currently having issues with the conda version syncing to master, so a little more information about how you installed and what the error message is would be useful. Thanks!

[2020-10-16 15:45] akiledal commented on #57
To be more specific, it seems like the trimmomatic part works. But if I feed shi7 .fastq.gz files, it reports all reads as low quality:

Whereas if I feed it the same .fastq files it reports more reasonable results:

And 932781 sequences were decent.

There's no error message (somewhat concerningly), instead it just says all reads are garbage.

I ran this command `shi7 -i shi7_out/input_files/ -o

[2020-12-15 19:54] bhillmann commented on #69
Ok @GabeAl, I updated the knights-lab conda to release v1.0.2. Can you push the updates for shi7 portable so they are now in sync? The only difference between 1.0.2 and 1.0.0 is the Makefile to include the flag `-lz`

[2021-09-06 19:24] ReneKat commented on #67
Hi there, Just installed on a local MacBook Pro OSX 10.14.6.
Installed successfully via
[code]
After running `gunzip -k` on all my gzipped fastq files, I ran
`shi7_learning.py -i <fastq/directory. -o learnt`
and received the following error:

`Owl$ shi7_learning.py -i ../../00_Data -o learnt`

Thanks for any help getting shi7 to work on my Mac.
Best,
René